{%extends 'main.html'%}{%load static%}{%block content%}

    <!-- Start Breadcrumb Section -->
    <section class="breadcrumb-section"
      style="background-image: url({% static 'assets/images/bg/breadcrumb4.jpg' %});background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <div class="page-title">
              <h1>Actualités</h1>
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <div class="breadcrumb">
              <ul>
                <li>Dernères publications</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Breadcrumb Section -->

<section class="ftco-section bg-light">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-4 ftco-animate">
<div class="blog-entry">
<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image:url({% static 'images/image1.jpeg' %}.)">
<div class="meta-date text-center p-2">
<span class="day">26</span>
<span class="mos">June</span>
<span class="yr">2019</span>
</div>
</a>
<div class="text bg-white p-4">
<h3 class="heading"><a href="#">Liste des meilleurs étudiants aux examens nationaux</a></h3>
<p>Voici la liste des meilleurs aux différents examens nationaux.</p>
<div class="d-flex align-items-center mt-4">
<p class="mb-0"><a href="blog-single.html" class="btn btn-primary-bordered">Consultez l'article  <span class="ion-ios-arrow-round-forward"></span></a></p>
<!--  -->
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 ftco-animate">
<div class="blog-entry">
<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image:url({% static 'images/image2.jpeg' %}.)">
<div class="meta-date text-center p-2">
<span class="day">26</span>
<span class="mos">June</span>
<span class="yr">2019</span>
</div>
</a>
<div class="text bg-white p-4">
<h3 class="heading"><a href="#">Liste des meilleurs étudiants aux examens nationaux</a></h3>
<p>Voici la liste des meilleurs aux différents examens nationaux.</p>
<div class="d-flex align-items-center mt-4">
<p class="mb-0"><a href="blog-single.html" class="btn btn-primary-bordered">Consultez l'article  <span class="ion-ios-arrow-round-forward"></span></a></p>
<!--  -->
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 ftco-animate">
<div class="blog-entry">
<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image:url({% static 'images/image1.jpeg' %}.)">
<div class="meta-date text-center p-2">
<span class="day">26</span>
<span class="mos">June</span>
<span class="yr">2019</span>
</div>
</a>
<div class="text bg-white p-4">
<h3 class="heading"><a href="#">Liste des meilleurs étudiants aux examens nationaux</a></h3>
<p>Voici la liste des meilleurs aux différents examens nationaux.</p>
<div class="d-flex align-items-center mt-4">
<p class="mb-0"><a href="blog-single.html" class="btn btn-primary-bordered">Consultez l'article  <span class="ion-ios-arrow-round-forward"></span></a></p>
<!--  -->
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 ftco-animate">
<div class="blog-entry">
<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image:url({% static 'images/image2.jpeg' %}.)">
<div class="meta-date text-center p-2">
<span class="day">26</span>
<span class="mos">June</span>
<span class="yr">2019</span>
</div>
</a>
<div class="text bg-white p-4">
<h3 class="heading"><a href="#">Liste des meilleurs étudiants aux examens nationaux</a></h3>
<p>Voici la liste des meilleurs aux différents examens nationaux.</p>
<div class="d-flex align-items-center mt-4">
<p class="mb-0"><a href="blog-single.html" class="btn btn-primary-bordered">Consultez l'article  <span class="ion-ios-arrow-round-forward"></span></a></p>
<!--  -->
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 ftco-animate">
<div class="blog-entry">
<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image:url({% static 'images/image1.jpeg' %}.)">
<div class="meta-date text-center p-2">
<span class="day">26</span>
<span class="mos">June</span>
<span class="yr">2019</span>
</div>
</a>
<div class="text bg-white p-4">
<h3 class="heading"><a href="#">Liste des meilleurs étudiants aux examens nationaux</a></h3>
<p>Voici la liste des meilleurs aux différents examens nationaux.</p>
<div class="d-flex align-items-center mt-4">
<p class="mb-0"><a href="blog-single.html" class="btn btn-primary-bordered">Consultez l'article  <span class="ion-ios-arrow-round-forward"></span></a></p>
<!--  -->
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-4 ftco-animate">
<div class="blog-entry">
<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image:url({% static 'images/image2.jpeg' %}.)">
<div class="meta-date text-center p-2">
<span class="day">26</span>
<span class="mos">June</span>
<span class="yr">2019</span>
</div>
</a>
<div class="text bg-white p-4">
<h3 class="heading"><a href="#">Liste des meilleurs étudiants aux examens nationaux</a></h3>
<p>Voici la liste des meilleurs aux différents examens nationaux.</p>
<div class="d-flex align-items-center mt-4">
<p class="mb-0"><a href="blog-single.html" class="btn btn-primary-bordered">Consultez l'article  <span class="ion-ios-arrow-round-forward"></span></a></p>
<!--  -->
</div>
</div>
</div>
</div>
</div>
</div>
</section>

{%endblock%}