{%extends 'main.html'%}{%load static%}{%block content%}
    <!-- End Header & Navigation Section -->


    <!-- Start Breadcrumb Section -->
    <section class="breadcrumb-section"
    style="background-image: url({% static 'assets/images/bg/breadcrumb4.jpg' %});background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <div class="page-title">
              <h1>Contact</h1>
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <div class="breadcrumb">
              <ul>
                <li><a href="contact.html#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Breadcrumb Section -->

   
    <!-- Start Contact Form Section -->
    <section class="pad80">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title text-center">
              <h3>Laissez-nous un message</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <form id="contactForm" class="contact-form" method="post" role="form">
              <div class="messages"></div>
              <div class="controls">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Nom</label>
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="Nom *"
                        required="required" data-error="Name is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Email *"
                        required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Objet</label>
                      <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Objet *"
                        required="required" data-error="Subject is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Message</label>
                      <textarea id="form_message" name="message" class="form-control" placeholder="Message *"
                        required="required" data-error="Please,leave us a message."
                        style="min-height: 175px;"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <input type="submit" class="btn btn-primary-bordered mb30" value="Send message">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p class="text-muted"><strong>*</strong> Champs obligatoire.</p>
                  </div>
                </div>
              </div>

            </form>

          </div>
          <div class="col-md-4 mbl-mar-top">
            <div class="feature-5">
              <div class="media">
                <div class="media-left mr-3">
                  <div class="icon">
                    <i class="fa fa-map-marker"></i>
                  </div>
                </div>
                <div class="media-body">
                  <a href="contact.html#">
                    <h4>Addresse</h4>
                  </a>
                  <div class="feature-text">
                    <p>Fidjrossè<br />Littoral, Cotonou Bénin .</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature-5">
              <div class="media">
                <div class="media-left mr-3">
                  <div class="icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                </div>
                <div class="media-body">
                  <a href="contact.html#">
                    <h4>E-mail</h4>
                  </a>
                  <div class="feature-text">
                    <p><a href="mailto:">info@digitalschool.com</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="feature-5">
              <div class="media">
                <div class="media-left mr-3">
                  <div class="icon">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
                <div class="media-body">
                  <a href="contact.html#">
                    <h4>Téléphone</h4>
                  </a>
                  <div class="feature-text">
                    <p>+229 xx-xx-xx-xx<br />+229 xx-xx-xx-xx</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Form Section -->

{% endblock %}