{%extends 'main.html'%}{%load static%}{%block content%}
    <!-- Start Breadcrumb Section -->
    <section class="breadcrumb-section"
    style="background-image: url({% static 'assets/images/bg/breadcrumb4.jpg' %});background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <div class="page-title">
              <h1>F.A.Q</h1>
            </div>
          </div>
          <div class="col-md-7 col-sm-7">
            <div class="breadcrumb">
              <ul>
                
                <li>FAQ</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Breadcrumb Section -->

    <!-- Start Accordion Section -->
    <section class="" style="background-color: #fff;">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="wav-accordion pad-t80 pad-b50">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="card-title mb-0">
                      <a data-toggle="collapse" href="accordion.html#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">Accordion Heading Text 1</a>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et.
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="card-title mb-0">
                      <a class="collapsed" data-toggle="collapse" href="accordion.html#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">Accordion Heading Text 2</a>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="card-title mb-0">
                      <a class="collapsed" data-toggle="collapse" href="accordion.html#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">Accordion Heading Text 3</a>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="card-title mb-0">
                      <a class="collapsed" data-toggle="collapse" href="accordion.html#collapseFour" aria-expanded="false"
                        aria-controls="collapseThree">Accordion Heading Text 4</a>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="text-center">
              <img src="assets/images/others/02.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Tab Section -->
{%endblock%}